.groupToggleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-family: 'Comfortaa', cursive;
    height: 100px;
    margin: 100px;
}


.groupToggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 300px;
    border-radius: 25px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.groupToggle button {
    height: 100%;
    width: 33.33%;
    border: none;
    font-family: 'comfortaa', cursive;
    font-weight: 800;
    font-size: 1.3rem;
    color:rgb(91, 88, 88)
}

.groupToggle .inactive:hover {
    background-color: #e5e2e2;
    cursor: pointer;
}
.active {
    background-color: orange;
}

.groupToggle :nth-child(1) {
    border-right: 1px solid rgb(190, 186, 186);
}

.groupToggle :nth-child(2) {
    border-right: 1px solid rgb(190, 186, 186);
}