.cardDisplayContainer {
  display: grid;
  grid-template-columns: 60% 30% 10%;
  gap: 1em;
  width: 90%;
  align-content: center;
}

.cardName,
.quantity {
  font-size: 0.8rem;
  font-weight: bold;
  align-content: center;
}
