.cardDisplayContainer {
  display: grid;
  grid-template-columns: 60% 30% 5%;
  gap: 1em;
  width: 85%;
  align-content: center;
  justify-content: center;
}

.cardName,
.quantity {
    display: flex;
    align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  align-content: center;
}
