.manaContainer {
  padding: 5px;
  aspect-ratio: 1/1;
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#filled {
  background-color: #f0f0f0;
}

#outline {
  outline: black solid 1px;
}
