
.LogOutButton {
    padding: 1em;
    border-radius: 10px;
    background-color: var(--background);
    box-shadow: var(--tight-border);
    transition: all 0.2s ease-in-out;
  }
  
  .LogOutButton:hover {
    box-shadow: var(--inset-border);
    cursor: pointer;
    text-decoration: underline;
  }