.navButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px; 
    border: none;
    height: 45px;
    width: 250px;
    transition: all 0.2s ease-in-out;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

.navButton:hover {
    background-color: #e5e2e2;
    cursor: pointer;
}

.navButton:active {
    background-color: #a8a6a6;
    transform: scale(0.95);
}