.DeckPreviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  gap: 0.5em;
  width: 350px;
  height: 300px;
  background: var(--background);
  border-radius: 25px;
  box-shadow: var(--tight-border);
  transition: all 0.2s ease-in-out;
}

.DeckPreviewContainer:hover {
  box-shadow: var(--inset-border);
  cursor: pointer;
}

.DeckTitle {
  color: var(--accent);
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 3px;
}
.ColorsContainer {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: center;
  gap: 2em;
}

.ColorsContainer > div {
  box-shadow: 5px 5px 6px var(--dark-shadow), -5px -5px 6px var(--light-shadow);
}

.CardArtBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  overflow: hidden;
  height: 110px;
  width: 320px;
  border-radius: 20px;
  margin: 0;
  background-color: var(--background);
}

.DeckDetails {
  width: 320px;
  height: 130px;
  box-shadow: var(--inset-border);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
