.displayListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    padding: 1em;
    width: 550px;
    box-shadow: var(--tight-border);
    border-radius: 20px;
}