.manaCostContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80px;
}

.manaCostContainer > div {
    box-shadow: var(--tight-border);
}