.active {
  color: #fff;
  outline: rgb(223, 223, 36) solid 3px;
  border-radius: 50%;

  cursor: pointer;
  filter: opacity(1);
}

.inactive {
  border-radius: 50%;
  outline: rgb(172, 62, 45) solid 3px;
  cursor: pointer;
  filter: grayscale(1);
}
