.active {
  color: #fff;
  box-shadow: 4px 4px 5px #e3c3c3, -4px -4px 5px #fff3f3;
  border-radius: 50%;
  cursor: pointer;
  filter: opacity(1);
}

.inactive {
  border-radius: 50%;
  outline: rgb(172, 62, 45) solid -2px;
  cursor: pointer;
  filter: grayscale(1);
}

