.active {
  color: var(--background);
  box-shadow: 4px 4px 5px var(--dark-shadow), -4px -4px 5px var(--light-shadow);
  border-radius: 50%;
  cursor: pointer;
  filter: opacity(1);
}

.inactive {
  border-radius: 50%;
  cursor: pointer;
}

