.NavBar {
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 2;
    position: fixed;
    height: 8vh;
    background-color: #b1b1b1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}