.NavBar {
  width: 100vw;
  height: 13vh;
  background-color: var(--background);
  box-shadow: var(--tight-border);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoAndTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
}
