.manaSliderContainer {
  display: flex;
  width: 170px;
  height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: #ffdbdb;
  box-shadow: 8px 8px 17px #e3c3c3, -8px -8px 17px #fff3f3;
  transition: all 0.2s ease-in-out;
}
