#displaylistparent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    border: red;
}

.displaylistchild {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border: red;
}

.hidden {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
}

.displaylistchild:hover + .hidden {
    display: block;

}

.displaylistchild:hover {
    transform: scale(1.05);
    transition: transform 0.1s cubic-bezier(0.23, 1, 0.320, 1);
    background-color: rgb(248, 248, 248);
}